.welcome {
  background: url("/images/home-header.jpg") center bottom no-repeat;
  background-size: cover;
  min-height: 70vh;
  position: relative;
}

.welcome__content {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
  min-width: 210px;
}

.selling-points {
  margin: 50px auto;
}

.selling-points,
.reviews__content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.selling-points > *,
.reviews__content > * {
  flex: 1;
}

.selling-points h2 {
  text-align: left;
}

.selling-points_images {
  border-radius: 100px;
}

.reviews__content {
  margin: auto;
  text-align: left;
}

.reviews__content div {
  margin: 20px;
}

.reviews {
  text-align: center;
  padding: 50px;
  background-color: #e8e8e8;
}

.reviews_images {
  border-radius: 50%;
  width: 80px;
  float: right;
}

.reviews__name {
  display: block;
}

.featured {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  max-width: 1000px;
  margin: 50px auto;
}

.featured h2 {
  grid-column: -1/1;
}
